<footer class="-bg-footer" id="footer">
    <div class="container-fluid">
        <div class="row footer-align">
            <div class="col-md-4 col-sm-4">
                <h5>Northstreet</h5>
                <hr class="hr-foot">
                <div class="footer-items">
                    <p class="footer">
                        The EU-27 has an estimated 1.6m businesses involved in 'accommodation and food services',
                        more than 75% of which are small and medium enterprises.
                    </p>
                    <ul class="social-networks">
                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <h5>Our contact</h5>
                <hr class="hr-foot">
                <div class="footer-items">
                    <address>
                        22, Northstreet Road
                        <br>
                        Melbourne, Victoria
                        <br>
                        Australia
                        <br>
                        <i class="fa fa-phone address"></i> +091 1234 5678
                        <br>
                        <i class="fa fa-fax address"></i> +876 5432 1234
                        <br>
                        <i class="fa fa-envelope address"></i> <a
                            href="mailto:northstreet@gmail.com">northstreet@gmail.com</a>
                    </address>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <h5>Open hours</h5>
                <hr class="hr-foot">
                <div class="footer-items">
                    <ul>
                        <li>Mon-Fri: 08:00-22:00</li>
                        <li>Sat : 09:00-22:00</li>
                        <li>Sun : 09:00-16:00</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <a class="to-top" href="#myPage" title="toTop">
        <i class="fa fa-chevron-up"></i>
    </a>
</footer>
<div class="footer-copyright">
    <p>&copy 2018 Copyright by <a href="https://github.com/anttnew"> https://github.com/anttnew</a></p>
</div>