<div class="container-fluid">
    <h1 class="container-h1">About</h1>
    <div class="row">
        <div class="col-sm-5">

            <div class="hov-img">
                <img src="https://res.cloudinary.com/dbte0ueti/image/upload/v1536951746/new/warm_welcome.jpg"
                    alt="Warm welcome" class="hov-img-bottom img-fluid">
                <div class="hov-img-top hov-img-slideup">
                    <div class="hov-img-text">
                        <h5>Warm welcome</h5>
                        <p>It had separate tables, a menu, and specialized in soups made with a base of meat and
                            eggs, which were said to be restaurants or, in English "restoratives".</p>
                    </div>
                </div>
            </div>

            <div class="hov-img">
                <img src="https://res.cloudinary.com/dbte0ueti/image/upload/v1536951746/new/delicious_meals.jpg"
                    alt="Delicious meals" class="hov-img-bottom img-fluid">
                <div class="hov-img-top hov-img-slideup">
                    <div class="hov-img-text">
                        <h5>Delicious meals</h5>
                        <p> In about 1765 a new kind of eating establishment, called a "Bouillon", was opened on
                            rue des Poulies, near the Louvre, by a man named Boulanger.</p>
                    </div>
                </div>
            </div>

            <div class="hov-img">
                <img src="https://res.cloudinary.com/dbte0ueti/image/upload/v1536951746/new/professional_staff.jpg"
                    alt="Professional staff" class="hov-img-bottom img-fluid">
                <div class="hov-img-top hov-img-slideup">
                    <div class="hov-img-text">
                        <h5>Professional staff</h5>
                        <p>For centuries Paris had taverns which served food at large common tables, but they
                            were notoriously crowded, noisy, not very clean, and served food of dubious quality.
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-sm-7">
            <div class="row ">
                <div class="restaurant-history slideanim text-center">
                    <h3 class="section-heading">Restaurant Northstreet</h3>
                    <p class="about-history first">The modern idea of a restaurant – as well as the term itself
                        – appeared in Paris in the 18th century. For centuries Paris had taverns which served
                        food at large common tables, but they were notoriously crowded, noisy, not very clean,
                        and served food of dubious quality. In about 1765 a new kind of eating establishment,
                        called a "Bouillon", was opened on rue des Poulies, near the Louvre, by a man named
                        Boulanger.<br /> <br>
                        It had separate tables, a menu, and specialized in soups made with a base of meat and
                        eggs, which were said to be restaurants or, in English "restoratives". Other similar
                        bouillons soon opened around Paris.
                        In about 1765 a new kind of eating establishment, called a "Bouillon", was opened on rue
                        des Poulies, near the Louvre, by a man named Boulanger.
                        It had separate tables, a menu, and specialized in soups made with a base of meat and
                        eggs, which were said to be restaurants or, in English "restoratives". Other similar
                        bouillons soon opened around Paris.
                    </p>

                    <button type="button" class="btn more" id="more" data-toggle="collapse"
                        data-target="#demo">More</button>
                    <div id="demo" class="collapse">
                        <p class="about-history"> Thanks to Boulanger and his imitators, these soups moved from
                            the category of remedy into the category of health food and ultimately into the
                            category of ordinary food. Their existence was predicated on health, not gustatory,
                            requirements.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>