<section class="bg-about bg-section" id="about">
    <app-about-us></app-about-us>
</section>

<section class="bg-menu bg-section" id="menu">
    <app-resturant-menu></app-resturant-menu>
</section>

<section class="bg-service bg-section" id="service">
    <app-catalogue></app-catalogue>
</section>

<section id="gallery" class="bg-gallery no-padding">
    <app-gallery></app-gallery>
</section>

<section class="bg-staff" id="staff">
    <app-employees></app-employees>
</section>

<section class="bg-testimonials" id="testimonials">
    <app-feedback></app-feedback>
</section>

<section class="bg-contact bg-section" id="contact">
    <app-feedback-form></app-feedback-form>
</section>