<div class="container-fluid">
    <h3>Gallery</h3>
    <hr class="hr-h3s">
    <div class="row no-gutter gallery slideanim">

        <div class="col-sm-4 portfolio-item">
            <a href="#" class="portfolio-link">
                <div class="caption">
                    <div class="caption-content">
                        <i class="fa fa-instagram fa-3x"></i>
                    </div>
                </div>
                <img src="https://res.cloudinary.com/dbte0ueti/image/upload/v1536952203/new/s1.jpg" class="img-fluid
                " alt="">
            </a>
        </div>
        <div class="col-sm-4 portfolio-item">
            <a href="#" class="portfolio-link">
                <div class="caption">
                    <div class="caption-content">
                        <i class="fa fa-instagram fa-3x"></i>
                    </div>
                </div>
                <img src="https://res.cloudinary.com/dbte0ueti/image/upload/v1536952203/new/s2.jpg" class="img-fluid"
                    alt="">
            </a>
        </div>
        <div class="col-sm-4 portfolio-item">
            <a href="#" class="portfolio-link">
                <div class="caption">
                    <div class="caption-content">
                        <i class="fa fa-instagram fa-3x"></i>
                    </div>
                </div>
                <img src="https://res.cloudinary.com/dbte0ueti/image/upload/v1536952203/new/s3.jpg" class="img-fluid"
                    alt="">
            </a>
        </div>
        <div class="col-sm-4 portfolio-item">
            <a href="#" class="portfolio-link">
                <div class="caption">
                    <div class="caption-content">
                        <i class="fa fa-instagram fa-3x"></i>
                    </div>
                </div>
                <img src="https://res.cloudinary.com/dbte0ueti/image/upload/v1536952203/new/s4.jpg" class="img-fluid"
                    alt="">
            </a>
        </div>
        <div class="col-sm-4 portfolio-item">
            <a href="#" class="portfolio-link">
                <div class="caption">
                    <div class="caption-content">
                        <i class="fa fa-instagram fa-3x"></i>
                    </div>
                </div>
                <img src="https://res.cloudinary.com/dbte0ueti/image/upload/v1536952203/new/s5.jpg" class="img-fluid"
                    alt="">
            </a>
        </div>
        <div class="col-sm-4 portfolio-item">
            <a href="#" class="portfolio-link">
                <div class="caption">
                    <div class="caption-content">
                        <i class="fa fa-instagram fa-3x"></i>
                    </div>
                </div>
                <img src="https://res.cloudinary.com/dbte0ueti/image/upload/v1536952203/new/s6.jpg" class="img-fluid"
                    alt="">
            </a>
        </div>
    </div>
    <div class="row more-img">

        <div class="to-gallery">
            <h4>For more pictures visit us on</h4>
            <div class="social-networks">
                <a href="https://www.instagram.com" target="_blank" class="instagram"><i
                        class="fa fa-instagram"></i></a>
                <a href="https://www.facebook.com" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
            </div>
        </div>

    </div>

</div>