<div class="container-fluid">
    <h3>Our staff</h3>
    <hr class="hr-h3s">
    <div class="row text-center slideanim thumbnail-row">
        <div class="col-sm-3">
            <div class="staff">
                <img src="https://res.cloudinary.com/dbte0ueti/image/upload/v1536952566/new/manager.jpg" class=""
                    alt="chef-img" style="width:170px; height: 170px">
                <h5 class="">John Johnson</h5>
                <h6>Manager</h6>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="staff">
                <img src="https://res.cloudinary.com/dbte0ueti/image/upload/v1536952565/new/chef1.jpg" class=""
                    alt="chef-img" style="width:170px; height: 170px">
                <h5 class="">Anna Schmidt</h5>
                <h6>Chef</h6>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="staff">
                <img src="https://res.cloudinary.com/dbte0ueti/image/upload/v1536952566/new/chef3.jpg" class=""
                    alt="chef-img" style="width:170px; height: 170px">
                <h5 class="">Ivan Gonzales</h5>
                <h6>Chef</h6>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="staff">
                <img src="https://res.cloudinary.com/dbte0ueti/image/upload/v1536952566/new/chef2.jpg" class=""
                    alt="chef-img" style="width:170px; height: 170px">
                <h5 class="">Joseph Martinez</h5>
                <h6>Chef</h6>
            </div>
        </div>
    </div>
</div>