<div class="container-fluid text-center">
    <h1 class="container-h1">Service</h1>

    <div class="row service-round-3 slideanim">
        <div class="col-sm-4 text-center round">
            <div class="service-round b-party">
                <i class="fa fa-4x fa fa-birthday-cake sr-icons"></i>
            </div>
            <h4>Birthday party</h4>
            <p>For more information please contact us.</p>
        </div>
        <div class="col-sm-4 text-center round">
            <div class="service-round wedding">
                <i class="fa fa-4x fa fa-heart sr-icons"></i>
            </div>
            <h4>Wedding</h4>
            <p>For more information please contact us</p>
        </div>
        <div class="col-sm-4 text-center round">
            <div class="service-round b-dinner">
                <i class="fa fa-4x fa fa-suitcase  sr-icons"></i>
            </div>
            <h4>Business dinner</h4>
            <p>For more information please contact us.</p>
        </div>
    </div>
    <a href="#contact" class="btn">Contact us</a>
</div>